<!DOCTYPE html>
<html>
<head>
    
<link rel="shortcut icon" href="#" />


    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>Nombre: {{this.name}}, Precio: {{this.price}}, Stock: {{this.stock}}</li>
        {{/each}}
    </ul>
    
<!-- Script para manejar WebSocket y funciones -->
<script src="/socket.io/socket.io.js"></script> <!-- Cargar socket.io-client -->
<script type="module" src="/js/index.js"></script> <!-- Cargar tu archivo JavaScript -->
<script type="module" src="/js/cliente.js"></script>
<script src="/bundle.js"></script>
<script type="module" src="/src/src/models/user.js"></script>
<script type="module" src="/src/src/routes/users.js"></script>
</body>
</html>
